# ignore 
*.aps
*.suo
*.sdf
SakiSnake/Debug/*.*
SakiSnake/Release/*.*
SakiSnake/x64/*
SakiSnake/ipch/*
SakiSnake/SakiSnakeServer/Debug/*.*
SakiSnake/SakiSnakeServer/Release/*.*
SakiSnake/SakiSnakeServer/x64/*
SakiSnake/SakiSnakeClient/Debug/*.*
SakiSnake/SakiSnakeClient/Release/*.*
SakiSnake/SakiSnakeClient/x64/*
SakiSnake/SakiSnakeCommon/Debug/*.*
SakiSnake/SakiSnakeCommon/Release/*.*
SakiSnake/SakiSnakeCommon/x64/*
SakiInject/Debug/*.*
SakiInject/Release/*.*
SakiInject/x64/*
SakiInject/ipch/*
SakiInject/SakiInjector/Debug/*.*
SakiInject/SakiInjector/Release/*.*
SakiInject/SakiInjector/x64/*
SakiInject/SakiParasite/Debug/*.*
SakiInject/SakiParasite/Release/*.*
SakiInject/SakiParasite/x64/*
SakiInject/SakiVictim/Debug/*.*
SakiInject/SakiVictim/Release/*.*
SakiInject/SakiVictim/x64/*
Misc/SakiSkyline/Debug/*.*
Misc/SakiSkyline/Release/*.*
Misc/SakiSkyline/x64/*
Misc/SakiSkyline/ipch/*
SakiColorGame/Debug/*.*
SakiColorGame/Release/*.*
SakiColorGame/ipch/*
SakiColorGame/SakiColorGameServer/Debug/*.*
SakiColorGame/SakiColorGameServer/Release/*.*
SakiColorGame/SakiColorGameClient/Debug/*.*
SakiColorGame/SakiColorGameClient/Release/*.*
